#notificationsBar {
    position: absolute;
    top: -50px;
    left: 379.5px;
    width: 500px;
    height: 60px;
    background-color: rgba(255, 118, 0, 0.98);
    border-radius: 10px;
    display: table;
    text-align: center;
    transition: 2s ease-in-out;
    opacity: 0.03
}


#notificationsBar.active {
    transform: translateY(50px);
    transition: 2s ease-in-out;
    opacity: 1;
}